.app-tags {
    border: 1px solid #aaa;
}

.tags-list {
    display: flex;
    flex-wrap: wrap;
}

.tag-item {
    margin: .5em;
    padding: .5em;
    border-radius: .5em;
    background-color: $PrimaryColor;
    color: #eee;
    font-size: .75em;
    cursor: pointer;
    &:hover {
        background: $DangerColor;
    }
}

.app-tags-input {
    padding: .5em;
    margin: 0;
    width: calc(100% - 1em);
    border-radius: 0;
    border: none;
    border-top: 1px solid #aaa;
}