@font-face {
    font-family: "Roboto";
    src: url("../../public/fonts/Roboto-Light.ttf") format("TrueType");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../../public/fonts/Roboto-Regular.ttf") format("TrueType");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../../public/fonts/Roboto-Medium.ttf") format("TrueType");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../../public/fonts/Roboto-Bold.ttf") format("TrueType");
    font-weight: 700;
    font-style: normal;
}