body {
    padding: 0;
    margin: 0;
    font-family: Roboto;
    font-size: 14px;
    box-sizing: border-box;
    *:not(svg) {
        font-family: Roboto;  
        box-sizing: border-box;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

svg {
    width: 1em;
    height: 1em;
}