/* Start Theme Variables */

    // colors
    $PrimaryColor: rgba(26, 115, 232, 1);
    $SecondaryColor: rgb(232, 26, 191);
    $DangerColor: #e33;
    $SuccessColor: #5cb85c;

    // Theme Color
    $lightColor: #fff;
    $darkColor: #e9edf3;
    $borderColor: #dee2e6;

    // Text Color
    $textColor1: #2f353c;
    $textColor2: rgba(33, 37, 41, 0.75);
    $textColor3: rgb(158, 167, 184);
    // sizes
    $SideBarSize: 260px;

    $BorderColor: #ddd;
    $BorderSize: 1px;
