$LeftAreaWidth: var(--__builder-left-area-width);
$RightAreaWidth: 20vw;
$BorderSize: .06rem;
$FrameBorderSize: .1rem;
$BorderColor: #ddd;
$PrimaryColor: rgba(26, 115, 232, 1);
$GrapColor: #fa0;
$SelectColor: #93f;
$CompColor: rgb(37, 164, 248);
$DangerColor: #e33;
$ZoneColor: rgb(255, 51, 122)