.app-page-error-cnt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: $DangerColor;
    width: 100%;
    height: 100%;
}