.app-form {
    margin: 1em;
}

.app-input {
    padding: .5em;
    margin: .5em;
    border-radius: 3px;
    outline: none;
    border: 1px solid #222;
    border: none;
    font-size: 1em;
}

.app-select {
    padding: .5em;
    margin: .5em;
    border-radius: .25em;
    outline: none;
    border: 1px solid #222;
}

.app-label {
    margin-right: 1em;
    text-transform: capitalize;
    &::after {
        content: " : ";
    }
}

.form-group {
    > *:not(:first-child) {
        margin-left: 0 !important;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    > *:not(:last-child) {
        margin-right: 0 !important;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}