#__Builder-Root {
 .__Builder-List-Field {
    margin: .25em;
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: center;
    width: calc(100% - 1em);

    > .__Builder-Field {
        border: none;
        margin: 0 !important;
        padding-bottom: .5em;
        background: #f9f9f9;
        > label::after, > label::before {
            background: #aaa;
        }
    }
 }
 .__Builder-List-Field > .__Builder-Field {
    width: 100% !important;
    max-width: 100% !important;
 }
}